[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
spacy = "*"
tensorflow = "*"
sklearn = "*"
gensim = "*"
matplotlib = "*"
openpyxl = "*"
camelot = "*"
pypdf2 = "*"
pdf2image = "*"
pytesseract = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.9"
